strong#rednew{
    color: red;
}

div#info {
    color: teal;
}

p#cursivasi {
    font-style: italic;
}

span.price {
    font-family: "Times New Roman", Georgia;
    font-style: italic;
    color: gray;
}

span.label {
    font-weight: bold;
    font-variant: small-caps;
    font-style: normal;
}

p.warning, sup {
    color: red;
    font-size: x-small;
}